{{extend parent}}
{{block title}}${language.title}{{/block}}
{{block head}}
	<script>
		var net = null; 
		var sam = null;

		function pageReady()
			{
			if(!${is_secure})
				window.location.assign("${edge_url_https}admin/login.html");
			else if(${is_logged_in})
				window.location.assign("${edge_url_https}admin/");
			else
				{
				$("#adminLoginContainer").show();
				$("#password").val("").focus();

				$("#password").keyup(function(e)
					{
					if(e.which == "13")
						logIn();
					});

				net = new SpaceifyNet();
				sam = new SpaceifyApplicationManager();
				}
			}

		function logIn()
			{
			sam.logIn($("#password").val(), null, function(err, data)
				{
				if(err)
					{
					$("#password").empty();
					net.showError(err.messages[0]);
					}
				else if(data.is_logged_in)
					window.location.assign("${edge_url_https}admin/");
				});
			}
	</script>
{{/block}}

{{block body}}

	<div class="adminLoginContainer" id="adminLoginContainer" style="display: none;">

		<div class="adminLogo">
			<span class="adminLogoHelper"></span>	
			<img src="${edge_url_current}images/logo_text.png" class="adminLogoImage" width="291" height="100">
		</div>

		<div class="adminLoginTitle">
			${language.admin_login}
		</div>

		<div class="adminInputContainer">
			<input class="adminInput" style="width: 200px" type="password" name="password" id="password" placeholder="${language.password}"/>
		</div>

		<div class="adminInputContainer">
			<button class="adminButton normal" name="action" onclick="logIn();">
				${language.login}
			</button>
		</div>

		<div class="breaker"></div>

	</div>

{{/block}}
