Package: squid-cgi
Source: squid3
Version: 3.3.8.spaceify
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 138
Depends: apache2 | httpd, libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.4.0)
Conflicts: squid3-cgi
Replaces: squid3-cgi
Provides: squid3-cgi
Section: web
Priority: optional
Homepage: http://www.squid-cache.org
Description: Full featured Web Proxy cache (HTTP proxy) - control CGI
 Squid is a high-performance proxy caching server for web clients, supporting
 FTP, gopher, ICY and HTTP data objects.
 .
 Squid version 3 is a major rewrite of Squid in C++ and introduces a number of
 new features including ICAP and ESI support.
 .
 This package contains a CGI program that can be used to query and administrate
 a `squid' proxy cache through a web browser.
Original-Maintainer: Luigi Gangitano <luigi@debian.org>
