Package: ecap-spaceify-injector
Version: 1.5.0
Architecture: amd64
Maintainer: root <root@unknown>
Installed-Size: 9005
Depends: libc6 (>= 2.14), libecap2, libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.4.0)
Section: libs
Priority: extra
Homepage: http://spaceify.net
Description: Spaceify eCAP Injector library.
 Targeted to be used with squid3 Spaceify distribution and Spaceify core.
