Package: squid3-dbg
Source: squid3
Version: 3.3.8.spaceify
Architecture: i386
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 39607
Depends: squid3 (= 3.3.8.spaceify)
Section: debug
Priority: extra
Homepage: http://www.squid-cache.org
Description: Full featured Web Proxy cache (HTTP proxy) - Debug symbols
 Squid is a high-performance proxy caching server for web clients, supporting
 FTP, gopher, ICY and HTTP data objects.
 .
 Squid version 3 is a major rewrite of Squid in C++ and introduces a number of
 new features including ICAP and ESI support.
 .
 This package contains debugging symbols for binaries in squid3.
Original-Maintainer: Luigi Gangitano <luigi@debian.org>
