/* COMMON STYLE FOR ALL EDGE PAGES */
body {
	margin: 5px;
	padding: 0;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.edgeContent {
	margin: 10px 10px 10px 10px;
}

a.edgeHome:link, a.edgeHome:visited, a.edgeHome:hover, a.edgeHome:active {
	color: #000;
	margin-top: -15px;
	font-weight: bold;
	display: inline-block;
}

.edgeTiles {
	clear: left;
	float: left;
	display: none;
	border-top: 2px solid #ccc;
}

.edgeTile {
	position: relative;
	float: left;
	display: inline;
	width: 276px;
	height: 148px;
	padding: 0;
	margin: 0px 10px 10px 0px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}

.edgeTileImage {
	float: left;
	width: 128px;
	height: 128px;
	margin: 10px 5px 0px 5px;
	padding: 0;
}

.edgeTileInfo {
	float: left;
	margin: 10px 5px 0px 5px;
	padding: 0;
	width: 128px;
	height: 128px;
	overflow: hidden;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.edgeTileInfoTitle {
	clear: both;
	float: left;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
	font-size: 80%;
	font-weight: bold;
}
.edgeTileInfoTitle.spacer {
	height: 20px;
}

.edgeTileInfoItem {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 90%;
}
.edgeTileInfoTitle.spacer {
	height: 20px;
}

.edgeLoading {
	top: 50%;
	left: 50%;
	display: none;
	position: fixed;
	background-color: transparent;
}
.edgeLoadingContent {
	top: -50%;
	left: -50%;
	position: relative;
	border: 1px solid #ccc;
	background-color: #FFF;
}

.edgeAlert {
	top: 0px;
	left: 0%;
	position: fixed;
	float: left;
	clear: both;
	height: auto;
}
.edgeAlertError {
	float: left;
	clear: both;
	padding: 5px;
	margin: 0px 0px 2px 0px;
	position: relative;
	opacity: 1.0;
	background-color: #FF4040;
	font-weight: bold;
	font-size: 100%;
	border: 1px solid #ccc;
	width: 100%;
}
.edgeAlertSuccess {
	float: left;
	clear: both;
	padding: 5px;
	margin: 0px 0px 2px 0px;
	position: relative;
	opacity: 1.0;
	background-color: #40FF40;
	font-weight: bolder;
	font-size: 100%;
	border: 1px solid #ccc;
	width: 100%;
}

.edgeOptionsFrame {
	z-index: 3;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	background-color: #FFF;
	visibility: hidden;
}

.edgeInput {
	margin: 0;
	padding: 0;
	height: 28px;
	line-height: 28px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: middle;
}
.edgeInput.spacer {
	visibility: hidden;
}

.edgeCertIframe {
	width: 0px;
	height: 0px;
	margin: 0;
	padding: 0;
	visibility: hidden;
	overflow: hidden;
}

a.edgeButtonLink:link, a.edgeButtonLink:visited, a.edgeButtonLink:hover, a.edgeButtonLink:active {
	color: #000;
	float: left;
	display: block;
}

.edgeButton {
	float: left;
	height: 28px;
	line-height: 24px;
	margin: 4px 4px 0px 0px;
	padding: 0px 10px 0px 10px;
	box-sizing: border-box;
	border-radius: 2px;
	text-align: center;
	/*font-weight: bold;*/
	background-color: #84D3FF;
	border: 1px solid #8080FF;
	box-shadow: inset 1px 1px 2px #ddd8dc;
}
.edgeButton:hover {
	background-color: #eee;
}
/* t, r, b, l */
