{{extend parent}}
{{block title}}${language.title}{{/block}}
{{block head}}
	<script>
		function pageReady()
			{
			var core = new SpaceifyCore();

			jQuery("#user_utilities, #admin_utilities").css("display", "block");

			new SpaceifySynchronous().waterFall(
				[{object: core, method: spaceifyNet.showAdminTile, params: [function(){}], type: "sync"},

				{object: core, method: spaceifyNet.showUserUtilities, params: [function(){}], type: "sync"},

				{object: core, method: spaceifyNet.showInstalledApplications, params: [function(){}], type: "sync"}],

				function()												/* finally */
					{
					
					});

			// ToDo: Open connection to the core so that this page can monitor and get notifications of what is happening.
			}

		window.addEventListener("resize", function()
			{
			});
	</script>
{{/block}}

{{block body}}

	<div class="edgeMain">

		<iframe id="certiframe" src="" class="edgeCertIframe" scrolling="no" frameborder="0"></iframe>

{{if splash}}

		<img src="images/logo.png" id="imgLogo" alt="Spaceify">
		<br>

		${language.splash_welcome}
		<br><br>

		${language.splash_info}
		<br><br>

		<div class="actions" id="actions"></div>
		<button type="button" id="accept" class="button default" onclick="spaceifyNet.setSplashAccepted();" style="width: 200px; height: 35px;">${language.splash_accept_action}</button>
		<button type="button" id="certificate" class="button default" onclick="spaceifyNet.loadCertificate();" style="width: 200px; height: 35px;">${language.splash_certificate_action}</button>

{{else}}

		<h4 class="edge_h4 hidden" id="spacelets_header" style="display: none;">${language.spacelets}</h4>
		<div class="tiles" id="spacelet" style="display: none;"></div>
		<div class="breaker"></div>

		<h4 class="edge_h4 hidden" id="sandboxed_header" style="display: none;">${language.sandboxed}</h4>
		<div class="tiles" id="sandboxed" style="display: none;"></div>
		<div class="breaker"></div>

		<h4 class="edge_h4 hidden" id="native_header" style="display: none;">${language.native}</h4>
		<div class="tiles" id="native" style="display: none;"></div>
		<div class="breaker"></div>

		<div class="tiles" style="display: none" id="user_utilities">
			<h4 class="edge_h4">${language.user_utilities}</h4>
			<div id="userInstallCertificate"></div>
		</div>
		<div class="breaker"></div>

		<div class="tiles" style="display: none" id="admin_utilities">
			<h4 class="edge_h4">${language.admin_utilities}</h4>
			<div id="adminLogIn"></div>
		</div>
		<div class="breaker"></div>
	</div>

{{/if}}

{{/block}}
