{{extend parent}}
{{block title}}${kiwiLanguage.title}{{/block}}
{{block head}}
	<script>
		function pageReady()
			{
			$SC.isAdminLoggedIn(function(err, data)
				{
				if(err || !data)
					$SU.deleteCookie(SESSION_ID_COOKIE);

				spaceify.showAdminLogInOut(!data ? "in" : "out");

				spaceify.showInstalledApplications();												// Show all the installed applications in categories
				});

			var dtags = [{ id: "imgLogo", context: document, src: "images/logo.png" }];
			$SR.loadResources(dtags, -1, function() {});
			}

		window.addEventListener("resize", function()
			{
			});
	</script>
{{/block}}

{{block body}}

{{if splash}}

	<img id="imgLogo" alt="Spaceify">
	<br>
	
	${kiwiLanguage.splash_welcome}
	<br><br>

	${kiwiLanguage.splash_info}
	<br><br>
	
	<div class="actions" id="actions"></div>
	<button type="button" id="accept" class="button default" onclick="spaceify.setSplashAccepted();" style="width: 200px; height: 35px;">${kiwiLanguage.splash_accept_action}</button>
	<button type="button" id="certificate" class="button default" onclick="spaceify.loadCertificate();" style="width: 200px; height: 35px;">${kiwiLanguage.splash_certificate_action}</button>
	<iframe id="certiframe" src="" class="edgeCertIframe" scrolling="no" frameborder="0"></iframe>

{{else}}

	<div class="tiles" id="spacelets"></div>
	<div style="clear: both"></div>

	<div class="tiles" id="sandboxed_applications"></div>
	<div style="clear: both"></div>

	<div class="tiles" id="native_applications"></div>
	<div style="clear: both"></div>

	<div class="tiles" style="display: block" id="admin_tools">
		<h4>${kiwiLanguage.admin_tools}</h4>
		<div id="adminLogIn"></div>
	</div>

{{/if}}

{{/block}}
